VITE_USER_API_URL=http://localhost:8101/api/users
VITE_TRIPS_API_URL=http://localhost:8102
VITE_PRICING_API_URL=http://localhost:8104
VITE_PAYMENTS_API_URL=http://localhost:8105
VITE_SCHEDULING_API_URL=http://localhost:8106
VITE_LOCATION_WS_URL=ws://localhost:8201
VITE_NOTIFICATION_WS_URL=ws://localhost:8202
